/* VARIABLES */

:root {
  --main-font-family: "Roboto", "Arial", sans-serif;
  --main-text-color: #000;
  --main-bg-color: #fff;
  --main-font-size: 20px;
  --main-font-weight: 400;
  --main-line-height: 23px;
}
